body {
    background-color: #E4FBFF;
    width: 100%;
    overflow-x: hidden;
}

.title-pos{
    position: absolute;
    width: 100%;
    top: 10vh;
}

.title-1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11vw;
    line-height: 12vw;
    /* or 119% */
    text-align: center;
    color: #7868E6;
    z-index: 1;
}

.burger {
    position: absolute;
    top: 10px;
    right: 10px;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #7868E6;
}

.line1 {
    position: relative;
    left: 25%;
    top: 16px;

    height: 4px;
    width: 25px;
    border-radius: 5px;
    background-color: white;
}

.line2 {
    position: relative;
    left: 25%;
    top: 19px;

    height: 4px;
    width: 25px;
    border-radius: 5px;
    background-color: white;
}

.line3 {
    position: relative;
    left: 25%;
    top: 22px;

    height: 4px;
    width: 25px;
    border-radius: 5px;
    background-color: white;
}

#blob-1 {
    position: absolute;
    width: 110vw;
    height: 50vh;
    left: -6vw;
    top: 30vh;
}

#blob-2 {
    position: absolute;
    left: -10vw;
    top: 50vh;
    width: 160vw;
    height: 80vh;
    z-index: -1;
}

#astronauta {
    position: absolute;
    width: 38vw;
    left: 15vw;
    top: 36vh;
}

#luna {
    position: absolute;
    width: 48vw;
    left: 40vw;
    top: 56vh;
}

#saturno {
    position: absolute;
    width: 18vw;
    left: 72vw;
    top: 41vh;
}

#saturno-1 {
    position: absolute;
    width: 20vw;
    left: 25vw;
    top: 105vh;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#tierra {
    position: absolute;
    width: 10vw;
    left: 15vw;
    top: 62vh;
}

#tierra-1 {
    position: absolute;
    width: 8vw;
    left: 72vw;
    top: 101vh;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#blob-3{
    position: absolute;
    width: 150vw;
    height: 253vh;
    top: 100vh;
    left:  -20vw;
}

#sparks {
    position: absolute;
    width: 10vw;
    left: 88vw;
    top: 105vh;
}

#sparks-1 {
    position: absolute;
    width: 6vw;
    left: 5vw;
    top: 115vh;
}

#blob-4 {
    position: absolute;
    top: 309vh;
    width: 120vw;
    left: -6vw;
    transform: matrix(-1, -0.3, 0.3, -1, 0, 0);
    z-index: -1;
}

#tierra-2 {
    position: absolute;
    width: 13vw;
    left: 71vw;
    top: 338vh;

    transform: matrix(1, 0, 0, -1, 0, 0);
}

#sparks-3 {
    position: absolute;
    width: 13vw;
    left: 85vw;
    top: 335vh;

    transform: matrix(1, 0, 0, -1, 0, 0);
}

#sparks-4 {
    position: absolute;
    width: 10vw;
    left: 3vw;
    top: 342vh;

    transform: matrix(1, 0, 0, 1, 0, 0);
}

.contact-circle{
    position: relative;
    left: 32.5vw;
    height: 5vw;
    width: 5vw;
    border: 1px solid #000000;
    background: #B8B5FF;
    border-radius: 4vh;
}

.contact-btn {
    position: absolute;
    width: 40vw;
    height: 12vw;
    left: 30vw;
    top: 90vh;
    background: #7868E6;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 7vh; 
    display: flex; 
    align-items: center; 
}

.contact-text {
    margin: 0;
    color:white;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 5vw;
    text-align: center;
}

.main-content{
    position: absolute;
    top: 120vh;
    z-index: 1;

    margin: 3vw;
    color: white;
}

.text {
    margin: 0;
    width: 95vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 5vw;
}

.title-2{
    margin: 8vw 0 1vw 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9vw;
}

.title-3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
}

.swiper-container {
    width: 100vw;
    height: 100%;
}

.swiper-slide {
    width: 80%;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slider-image{
    height: 8vh;
}

.proyectos {
    width: 90vw;
    padding-top: 3vw;
}

.center {
    text-align: center;
}

.contact-form {
    position: absolute;
    top: 250vh;
    left: 11vw;
}

.form{
    display: grid;
}

form input {
    margin: 2vw;
    padding: 2vw;
    width: 65vw;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: #7868E6;
    background-color: #E4FBFF;
}

form input:focus {
    outline: none;
}

::placeholder {
    color: #7868E6;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
}

.submit {
    border-style: groove;
    border-radius: 7vw;
    color: #7868E6;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    width: 22vw;
    margin-left: auto;
    text-align: center;
}


.github-btn {
    display: flex;
    width: 25vw;
    background: black;
    border-radius: 7vw;
    margin-top: 10vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
}

.github-btn img{
    height: 8vw;
    margin: 1vw;
}

.github-text{
    margin: 0;
    padding: 0 0 0 1vw;
    align-self: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
}

@media only screen and (min-width: 425px) {
    #blob-4 {
        height: 60vh;
        left: -15vw;
    }
}